appyframe/public/js/lib/*
appyframe/public/js/appyframe/misc/tests/*
appyframe/public/js/appyframe/views/test_runner.js
appyframe/core/doctype/doctype/boilerplate/*
appyframe/core/doctype/report/boilerplate/*
appyframe/public/js/appyframe/class.js
appyframe/templates/includes/*
appyframe/www/website_script.js
